@import "tailwindcss";

body{
  background:#F7F3EE;
  font-family:Inter,sans-serif;
}

.jp-pattern{
  background-image:
  radial-gradient(
    circle at 100% 150%,
    #ece6de 24%,
    transparent 25%
  ),
  radial-gradient(
    circle at 0 150%,
    #ece6de 24%,
    transparent 25%
  );

  background-size:80px 80px;
}